<!DOCTYPE html>
<html>
  <style>
    h1{
      text-align: center;
    }
    img {
      position:fixed;
      left: 20px;
      top: -10px;
      width: 12%;
      height: 12%;
    }
    .centerPage {
      position: fixed;
      bottom: 10%;
      right: 0;
      width: 100%;
      height: 80%;
      background-color: #E9EAEB;
    }
  </style>
  <head>
    <meta charset = "UTF-8">
    <title> {% block title %}Matelux !{% endblock %}</title>
    <img src="https://promess.sante-aquitaine.fr/sites/default/files/public/2017-02/logoCHU.png" alt="Logo du CHU"/>
    <h1> CHU Bordeaux - Service de Radiothérapie </h1>
        {% block stylesheets %}{% endblock %}
  </head>

  <body>
    <div class = "centerPage">
    </div>
  </body>
</html>
